
.helloyip {
    text-align: center;
}

.yipyip {
    width:92% ;
}

.helloyip .form-horizontal .form-group {
    margin-right:-4px;
    margin-left:-4px;
}
.yipteasers div[class^="col"] {
    padding:4px !important;
}

.yipteaser h3 {
    margin:4px !important;
    color:#333;
}

.yipteaser {
    padding: 0 4px;
    border-radius: 12px;
    border: solid 1px #2B778C;
    height: 120px ;
    overflow:hidden;
}

}
.col-centered{
    float: none;
    margin: 0 auto;
}
#ipsum-text {
    padding: 8px;
    margin-top:20px;
    border-radius: 8px;
    border: solid 2px #2B778C;
}
.pagination {
    margin:4px;
}
.row-settings {
    margin:10px 0 0px 0;
}
.row-settings h2 {
    margin-bottom : 4px;
}
.row-settings-box {
    padding : 4px 4px 0 4px;
    margin: 0 4px 0     px 4px;
}

.btn-settings {
    margin-top:22px;
}
.col-settings {
    margin:0 !important;
}
.p-current {
    background-color: #D8E6EA !important;
}
#createsuccess h3 {
	padding : 20px;
}

#btn-yipurl {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

.help-block {
	text-align: left;
}

.form-group > [class*="col-"] {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.row-yiptext {
    border: solid #343035 1px;
    border-radius: 8px;
    background-color:#F3FAFD;
}

.row-yiptext, .row-yiptext-add { 
    margin: 8px 0 8px 0;
    overflow: hidden;
}
.row-yiptext textarea {
    margin:2px;
    background-color: #FCFEFE;
}

.col-yiptext {
    background-color:#F3FAFD;
    padding: 4px !important;
}

.col-yiptext-add {
    padding: 4px !important;
}

.yiptext-add textarea {
    margin:2px;
    padding: 2px !important;
}
.col-add {
    padding-left: 0px !important;
}

.btn-edit { 
    color:#66D01A;
}
.btn-edit:hover, .btn-edit:focus { 
    color:#66D01A;
    background:white;
}

.btn-delete {
    color:#ec7474;
}
.btn-delete:hover, .btn-delete:focus { 
    color:#e53434;
    background:white;
}
.col-edit {
    padding: 2px 4px !important;
    text-align: right;
}
.col-btn-add {
    padding: 20px 0px 0 6px !important;
}
.btn-add {
    padding: 6px !important;
}
.btn-saved { 
    color:#66D01A;
    background-color: #F3FAFD;
    border:none;
}

.btn-generate { 
  color: #FFFFFF; 
  background-color: #1E94B8; 
  border-color: #2B778C; 
} 
 
.btn-generate:hover, 
.btn-generate:focus, 
.btn-generate:active, 
.btn-generate.active, 
.open .dropdown-toggle.btn-generate { 
  color: #FFFFFF; 
  background-color: #2B778C; 
  border-color: #2B778C; 
} 
 
.btn-generate:active, 
.btn-generate.active, 
.open .dropdown-toggle.btn-generate { 
  background-image: none; 
} 
 
.btn-generate.disabled, 
.btn-generate[disabled], 
fieldset[disabled] .btn-generate, 
.btn-generate.disabled:hover, 
.btn-generate[disabled]:hover, 
fieldset[disabled] .btn-generate:hover, 
.btn-generate.disabled:focus, 
.btn-generate[disabled]:focus, 
fieldset[disabled] .btn-generate:focus, 
.btn-generate.disabled:active, 
.btn-generate[disabled]:active, 
fieldset[disabled] .btn-generate:active, 
.btn-generate.disabled.active, 
.btn-generate[disabled].active, 
fieldset[disabled] .btn-generate.active { 
  background-color: #1E94B8; 
  border-color: #2B778C; 
} 
 
.btn-generate .badge { 
  color: #1E94B8; 
  background-color: #FFFFFF; 
}

textarea {
    box-sizing: border-box;
    resize: none;
    width:100%;
}

@media (min-width: 768px) { 
    .container {
        max-width: 730px;
    }
    .col-edit {
        padding: 12px 12px !important;
        text-align: right;
    }
    .col-btn-add {
        padding: 11px 0 0 12px !important;
        text-align: left;
    }
    .btn-add {
        padding: 8px !important;
    }
    .col-add {
        padding: 2px 4px !important;
    }
    .row-yiptext textarea, .yiptext-add textarea {
    }
    .row-settings {
        margin:40px 0 4px 0;
    }
}

