.helloyip {
    padding: 40px 15px;
    text-align: center;
}

#yipurl {
	font: italic small-caps bold 16px Georgia, sans-serif;
}

@media (min-width: 768px) { 
    .container.index {
        max-width: 730px;
    }
}

